<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <h1>Email correctly sent.</h1>
  <p>Thanks for contact us <%= body.fname %> <%= body.lname %><br>
    we'll responde you soon at email <%= body.email %>.
  </p>

</form>
</body>
</html>
